.point-nav{
    cursor: pointer;
}

.point-nav:hover(){
    color: brown;
}

.logo_ites{
    margin-top: 10px;
    font-family:'Courier New', Courier, monospace;
    color: brown;
}
.Slogan{
    font-size: small;
}

.hight{
    height: 37px;
}